.Header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 2rem;
    
}

.Header-1{
    display:flex;
    align-items: center;
}

ul{
    display:flex;
    justify-content: space-evenly;
    margin-left: -3rem;
}
 li{
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    margin-left: 2rem;
    color:hsl(0, 0%, 41%);
    cursor: pointer;
}
li:hover  {
    color: hsl(0, 0%, 8%);
}

.arrowdown:hover {
    color: hsl(0, 0%, 8%);
}

.h-image img {
    width: 4rem;
    height: auto;
}

.registration{
    margin-left: 2rem;
}
.link,.register{
    margin-left: 2rem;
    color:hsl(0, 0%, 41%);
    cursor: pointer;
}

.link:hover{
    color:hsl(0, 0%, 8%)
}

a{
    text-decoration: none;
    color: black;
}

.register{
    background-color: white;
    color: black;
    width: 6rem;
    height: 2.3rem;
    border-radius: 10px;
    color:hsl(0, 0%, 41%);
    border: 2px solid hsl(0, 0%, 41%);
    cursor: pointer;
}

.register:hover{
   
    color:hsl(0, 0%, 8%);
    
    border:2px solid hsl(0, 0%, 8%);
}
.arrowdown, .arrowup{
    width: 0.7rem;
    height: 0.4rem;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
    cursor: pointer;

}
.arrowup{
    display: none;
}

li:hover .arrowup{
    display: block;
}

li:hover .arrowdown{
    display: none;
}
