.Main{
    display: flex;
    justify-content: space-between;

    margin:1.5rem;
}
figure{
    width:45%;
    margin: 1.5rem;
}
img{
    width:100%;
    height:auto;
}

.Main-1{
    width: 70%;
    text-align: justify;
    margin-left: 6.1rem;
    margin-top: 2rem;

}


.symbols{
    display: flex;
    justify-content: space-around;
    margin-top: 2.8rem;
    
}
.symbols img{
    margin:1rem;
    height: 1rem;
    
}

h1{
    font-size: 5em;
    text-align: justify;
    font-weight: 700px;
}

.b-learn{
    width:8rem;
    margin-top:1.3rem;
    height: 2.6rem;
    border-radius: 10px;
    background-color: hsl(0, 0%, 8%);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.0rem;

}
.b-learn:hover{
    background-color: white;
    border-radius: 10px;
    border:2px solid hsl(0, 0%, 8%);
    
    color:hsl(0, 0%, 8%)
}
p{
    line-height: 1.5rem;
    color:hsl(0, 0%, 41%)
}